NUXT_SUPABASE_URL=https://uhwfvrjhlhvxyrrlaqna.supabase.co
NUXT_SUPABASE_ANON_kEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVod2Z2cmpobGh2eHlycmxhcW5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0NDMyNTAsImV4cCI6MjA3MDAxOTI1MH0.GIN9MsCcP4q5WqwjEfavhN6VrDz9BSohGH6R3ZVx6W0
NUXT_SUPABASE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVod2Z2cmpobGh2eHlycmxhcW5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQ0MzI1MCwiZXhwIjoyMDcwMDE5MjUwfQ.VEtSejNPZT8OxSsDBIqn1rDGLLJm_B6gweytCKWi6M4