
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #f1f2f3;
  color: rgb(15, 15, 15);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.videoWrapper {
  position: relative;
  height: 0;
  @media(min-width: 300px) {
    padding-bottom: 75%; /* 16:9 */
  }
  @media(min-width: 600px) {
    padding-bottom: 40%; /* 16:9 */
  }
}
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html { 
  overflow-y: auto !important 
}

.text-small-1 {
  font-size: 0.75rem;
}
.text-small-2 {
  font-size: 0.7rem;
}
.text-small-3 {
  font-size: 0.65rem;
}

.custom-subtitle-and-title {
  white-space: normal !important;   /* permite quebra de linha */
  word-break: break-word !important; /* quebra dentro da palavra se for muito grande */
  overflow: visible !important;     /* impede sumiço do texto */
  text-overflow: unset !important;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

@function getColor($color) {
  $lightness: lightness($color);
  @if($lightness < 60) {
      @return rgb(249, 244, 244);
  } @else {
      @return rgb(28, 27, 27);
  }
}
.pointer {
  cursor: pointer;
}

.filter-color-invert {
  filter: invert(1)
}

.my-scale-1-05 {
  transform: scale(1.05);
}
.hover-my-scale-1-05 {
  :hover {
    transform: scale(1.2);
  }
}
.my-button-disable {
  pointer-events: none;
  cursor: no-drop;
}
.position-center-x {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.position-center-x-lg {
  @media(max-width: 991.98px) {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.position-center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.transform-y-2-hover {
  &:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
.transform-y-3-hover {
  &:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
.no-underline {
  text-decoration: none;
}
.list-style-none {
  list-style: none;
}
.max-w-100 {
  max-width: 100px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-300 {
  max-width: 300px;
}
.max-w-400 {
  max-width: 400px;
}
.max-w-500 {
  max-width: 500px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-700 {
  max-width: 700px;
}

.bg-gradient-primary {
  background-image: linear-gradient(45deg, #391a4f 0%, #391a4f 60%, #2b5e59 100%) !important;
  color: white !important;
}

.bg-gradient-status {
  background-image: linear-gradient(45deg, #2b5e59 0%, #2b5e59 40%, #391a4f 100%) !important;
  color: white !important;
}

.text-gradient-primary {
  background: linear-gradient(45deg, #391a4f 0%, #391a4f 60%, #2b5e59 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.bg-gradient-nav {
  background-image: linear-gradient(45deg, #546E7A, #90A4AE) !important; /* versão mais suave */
  color: white !important;
}